.beyonce, .biel, .mbj, .brad  {
  display: none;
  padding-top: 100px;
  text-align: center;
}
body {
  height: 100vh;
  background: linear-gradient(to right, blue, rgb(247, 86, 113));
  color: cyan;
  text-shadow: 1px 1px red;
}
.jumbotron {
  text-align: center;
  background: cyan;
  border-radius: 55%;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  text-shadow: 2px 2px rgb(140, 0, 255);
  color: rgb(192, 255, 1);
}